@charset "utf-8";

#practice_picture_area{
    border: solid 1px springgreen;
    margin-top: 100px;
}

#practice_picture{
    width: 90%;
}

#practice_playtext_area{
    margin-top: 30px;
    background-color: lightgreen;
    cursor: pointer;
}

#practice_play{
    top: 0px;
    height: 40px;
}

#practice_supplement_area{
    margin-top: 40px;
}

#practice_gonext{
    margin-top: 50px;
    background-color: lightsteelblue;
}