@charset "utf-8";
#trace_window{
    margin-top: 100px;
}

#trace_supplement_area{
    /* margin-top: 10px; */
    background-color: pink;
    cursor: pointer;
}

#trace_pencil{
    width: 150px;
    height: 150px;
}

#trace_delete{
    height: 100px;
    background-color: rgb(30, 153, 210);
}

#trace_canvas{
    border: solid 3px black;
    margin-top: 20px;
    padding: 0%;
    width: 100%;
}

#trace_gonext{
    margin-top: 50px;
    background-color: lightskyblue;
}