@charset "utf-8";

#hiragana_table_window{
    margin-top: 100px;
}

#hiragana_table{
    width: 100%;
    text-align: center;
    font-size: 8vw;
}

table,tr,td{
    border: solid 3px white;
}