#lesson_select_menu {
    height: 100vh;
}

.lesson_select_option {
    width: 100%;
    height: 100px;
    background-color: palegreen;
    margin-bottom: 30px;
    /* border-radius: 30px; */
}

.lesson_content_option {
    width: 100%;
    height: 100px;
    background-color: pink;
    margin-bottom: 30px;
    border-radius: 30px;
}
