@charset "utf-8";

#image_left{
    height: 300px;
}

#image_right{
    height: 300px;
}


.icon{
    height: 30px;
}

#talk_like_correctanswer_area{
    margin-top: 40px;
    border: solid 2px springgreen;
}


#talk_like_supplement_txt{
    margin-top: 100px;
    border: solid 2px blue;
}

#talk_like_correctanswer_picture{
    width: 100px;
}


#talk_like_gonext{
    margin-top: 50px;
    width: 100%;
    background-color: lightskyblue;
}