@charset "utf-8";

#image_left{
    height: 300px;
}

#image_right{
    height: 300px;
}


.icon{
    height: 30px;
}

#talk_like_correctanswer_area{
    margin-top: 40px;
    border: solid 1px springgreen;
}

#talk_like_correctanswer_picture{
    width: 100px;
}

#talk_like_gonext{
    width: 100%;
    margin-top: 50px;
    background-color: lightskyblue;
}