#lesson_select_menu {
    height: 100vh;
    margin-top: 150px;
}

.lesson_select_option {
    width: 100%;
    height: 100px;
    background-color: orange;
    margin-bottom: 30px;
    border-radius: 30px;
}

.lesson_select_option:disabled{
    background-color: rgb(255, 233, 192);
}

.lesson_content_option {
    width: 100%;
    height: 100px;
    background-color: gold;
    margin-bottom: 30px;
    border-radius: 30px;
}

.collapsing {
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 30px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 30px;
}

.accordion-item {
    border: none;
}

.accordion-button{
    display: block;
    text-align: center;
}

#retry{
    width: 100%;
    height: 100px;
    background-color: rgb(200, 243, 135);
    margin-bottom: 30px;
    border-radius: 30px;
}


#lesson_select_footer{
    width: 100%;
    background-color: ivory;
    /* text-align: center; */
    padding: 30px 0;
    position: fixed;
    bottom: 0;
}

#lesson_select_footer>img{
    margin-left: 20px;
    height: 70px;
}