@charset "utf-8";
#practice_window{
    margin-top: 100px;
}

#practice_picture{
    border: solid 3px black;
    padding: 0%;
    width: 100%;
}

#practice_playtext_area{
    margin-top: 30px;
    background-color: pink;
    cursor: pointer;
}

#practice_play{
    top: 0px;
    height: 40px;
}

#practice_supplement_area{
    margin-top: 40px;
}

#practice_gonext{
    margin-top: 50px;
    background-color: lightsteelblue;
}