#order_question_picture_area{
    cursor: pointer;
    border: solid 1px springgreen;
}

#order_question_picture{
    width: 90%;
}

#order_question_play{
    top: 0px;
    height: 40px;
}

#order_question_area{
    margin-top: 40px;
}

#order_question_option1{
    height: 100px;
    background-color: palegreen;
    margin-bottom: 30px;
}

#order_question_option2{
    height: 100px;
    background-color: palegreen;
    margin-bottom: 30px;
}

#order_question_option3{
    height: 100px;
    background-color: palegreen;
}

#order_question_correctanswer_area{
    margin-top: 40px;
    border: solid 1px springgreen;
}

#order_question_correctanswer_picture{
    width: 100px;
}

#order_question_gonext{
    margin-top: 50px;
    background-color: lightsteelblue;
}